// baseFont: font-family: 'Montserrat', sans-serif; 400, 700
// bodyFont: font-family: 'Open Sans', sans-serif; 400

html {
  font-size: 125%;
}

body {
  font-family: $baseFont;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

h1,
h2 {
  color: $black;
  text-transform: uppercase;
  font-weight: 700;
}

h3,
h4,
h5,
h6,
button {
  color: $black;
  text-transform: uppercase;
  font-weight: 400;
}

img {
  max-width: 100%;
}

p,
a {
  font-size: 0.7rem;
}

nav a {
  color: $black;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-family: $bodyFont;
  line-height: 1.2rem;
  color: $black;
  font-weight: 400;
}

a {
  color: $black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  line-height: 1.2rem;
}

#sr-only {
  display: none
}
