// *****home page*****

// header background

.headHome {
    background-image: url(../assets/home-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }

// GREY VERTICAL LINE CENTRE

// main section start

.homeBrand {
  background-color: $primary;
  width: 100vw;
  height: 100vh;
}

.hbPicsText {
  @include flex(center, center);
  flex-direction: column;
  padding-top: 180px;
  .hbPics {
    position: relative;
    .circle {
      position: absolute;
      top: -95px;
      left: -120px;
    }
  }
  .hbText {
    @include flex(center, center);
    flex-direction: row;
    padding-top: 75px;
    .textBrand, 
    .textDD {
      @include flex(center, center);
      flex-direction: column;
      text-align: center;
      h5 {
        padding: 0;
        margin: 0;
        font-weight: 400;
        letter-spacing: 0.9px;
      }
      p {
        line-height: 24px;
        padding: 0 20px;
      }
    }
  }
}

// arrow section

.homeArrowScroll {
  @include flex(center, center);
  flex-direction: row;
  padding: 60px 0 0;
  .fa-chevron-right {
    color: lighten($color: $black, $amount: 40%);
  }
}

.homeArrowPT {
  @include flex(center, center);
  flex-direction: column;
  img {
    border-radius: 50%;
  }
  p {
    text-align: center;
    font-style: italic;
    line-height: 24px;
    padding: 30px 70px;
  }
}

// list section

// FIX SIZING AND POSITION

.homeListIcons {
  background-image: url(../assets/home-4.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100vw;
  height: 85vh;
}

.hliText {
  @include flex(flex-end, center);
  flex-direction: row;
  .col1 {
    @include flex(flex-end, center);
    flex-direction: column;
    padding-top: 100px;
    // position: relative;
    // left: 200px;
  }
  .col2 {
    @include flex(flex-end, center);
    flex-direction: column;
    padding-top: 100px;
    // position: relative;
    // left: 80px;
  }
  .ud,
  .seoM,
  .retinaR,
  .eReady,
  .advOp,
  .customZ {
    @include flex(flex-end, center);
    flex-direction: row;
    padding: 20px 0;
    .faIcon {
      font-size: 0.9rem;
      border: 2px solid $black;
      border-radius: 50%;
      padding: 16px;
    }
    .featureText {
      width: 60%;
      padding: 0 20px;
      h5 {
        font-size: 0.8rem;
        font-weight: 400;
        padding: 0;
        padding-bottom: 10px;
        margin: 0;
      }
      p {
        font-size: 0.6rem;
        padding: 0;
        margin: 0;
        color: lighten($color: $black, $amount: 40%);
      }
    }
  }
}

// team section

// GREY VERTICAL LINE CENTRE

.meetTeam {
  h5 {
    text-align: center;
    padding: 60px 0;
  }
}

// FIX TEAM ALIGNMENT - "4" across on large monitor, but not on laptop screen

.teamContainer {
  @include flex(space-between, center);
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 100px;
  img {
    padding: 15px;
  }
}

.contText {
  background-color: $whiteTwo;
  @include flex(center, flex-start);
  flex-direction: column;
  text-align: left;
  width: 540px;
  height: 270px;
  padding: 60px 30px 0px 30px;
  h6 {
    color: $black;
    text-align: left;
  }
}

.contText2 {
  background-color: $whiteTwo;
  @include flex(center, center);
  width: 270px;
  height: 270px;
  h6 {
    color: $black;
    text-align: center;
  }
}

// portfolio section

.linePortfolio {
  width: 100vw;
  height: 100vh;
  background-color: $primary;
  .lpContainer {
    @include flex(center, center);
    flex-direction: row;
    flex-wrap: wrap;
    .lpText {
      @include flex(center, center);
      flex-direction: column;
      width: 50%;
      p {
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
        }
      a {
        text-transform: uppercase;
        font-weight: 700;
        background-color: $whiteTwo;
        padding: 14px 20px;
      }
    }
    
    .lpImg {
      width: 50%;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

// FIX IMAGE SIZE IN CONTAINER

//   *****blog page*****

// header background

.headBlog {
  background-image: url(../assets/blog-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  }

//  blog post

.blogByAlex {
  width: 100vw;
}

.blogTitleByline {
  margin: 50px 0;
  h2 {
    width: 100%;
    font-size: 1.9rem;
    letter-spacing: 0.9px;
    margin: 0;
  }
  p {
    color: lighten($color: $black, $amount: 30%);
  }
}

.authorInfo {
  @include flex(flex-start, center);
  flex-direction: row;
  padding-bottom: 40px;
  border-bottom: 1px solid $whiteTwo;
  img {
    border-radius: 50%;
  }
  .authorText {
    margin: 0 30px;
    h5 {
      margin: 0;
      padding-top: 12px;
    }
    p {
      margin: 0;
      padding-top: 5px;
      color: lighten($color: $black, $amount: 30%);
    }
  }
  .authorDate,
  .authorCat,
  .authorTags {
    margin: 0 35px;
    position: relative;
    left: 200px;
    h5 {
      margin: 0;
      padding-top: 12px;
    }
    p {
      margin: 0;
      padding-top: 5px;
      color: lighten($color: $black, $amount: 30%);
    }
  }
}

.blogText {
  margin: 50px 0;
  p {
      color: lighten($color: $black, $amount: 10%);
    }
  
}

.blogShare {
  @include flex(flex-start, center);
  flex-direction: row;
  ul {
    li {
      display: inline;
      a {
        font-size: 0.9rem;
        margin: 0 10px;
      }
    }
  }
}

// related posts

.relatedPosts {
  margin-bottom: 60px;
  h3 {
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid $whiteTwo;
  }
  .postContainer {
    @include flex(center, center);
    flex-direction: row;
    padding-top: 20px;
    .postPic1,
    .postPic2,
    .postPic3 {
      padding: 0 8px;
      p {
        font-family: $baseFont;
        text-transform: uppercase;
      }
    }
  }
}

// comments section

.comments {
  margin-bottom: 60px;
  h3 {
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid $whiteTwo;
  }
  .commentsTextImg {
    @include flex(center, flex-start);
    flex-direction: column;
    .comment1,
    .comment2 {
      @include flex(flex-start, center);
      flex-direction: row;
      width: 100%;
      margin-bottom: 40px;
      .commentText {
        background-color: $whiteTwo;
        width: calc(100% - 70px);
        margin-left: 50px;
        padding: 10px 15px 30px 15px;
        position: relative;
        top: 20px;
        p {
          margin: 0;
          font-size: 0.5rem;
          font-family: $baseFont;
          color: lighten($color: $black, $amount: 10%);
        }
        p.commentName {
          text-transform: uppercase;
          font-weight: 700;
          span {
            text-transform: capitalize;
            font-weight: 400;
            font-style: italic;
          }
        }
      }
    }
  }
}

// SPEECH BUBBLE FOR COMMENTS

// comment form

.leaveComment {
  margin-bottom: 60px;
  h3 {
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid $whiteTwo;
  }
  .userForm {
    border: none;
    fieldset {
      @include flex(flex-start, center);
      flex-direction: row;
      border: none;
      padding: 0;
      margin: 0;
      input {
        font-size: 0.7rem;
        width: 100%;
        text-align: left;
        margin: 0 12px;
        border: none;
        border-bottom: 1px solid $whiteTwo;
        padding: 40px 0 10px;
      }
    }

    .userComment {
      width: 100%;
      height: 250px;
      resize: none;
      border: none;
      padding: 0;
      margin: 0;
      font-size: 0.7rem;
      width: 100%;
      text-align: left;
      border-bottom: 1px solid $whiteTwo;
      padding: 40px 0 10px;
    }

    .comBut {
      font-family: $baseFont;
      font-weight: 400;
      font-size: 0.7rem;
      padding: 5px 0;
      margin: 50px 0;
      border: 1px solid transparent;
      border-bottom: 1px solid $black;
      background-color: transparent;
      position: relative;
    }
  }
}

// HOVER ON EMAIL

// *****contact page*****

.headContact {
  height: 90px;
  }

//  contact title

.contactTitle {
  background-image: url(../assets/contact-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 140px;
}
h4 {
  font-size: 1.7rem;
  font-weight: 700;
  width: 95px;
  position: relative;
  top: 90px;
}

// contact details

.contactText {
  padding: 75px 0;
  h5 {
    font-weight: 700;
  }
}

.contactIcons {
  @include flex(flex-start, center);
  flex-direction: row;
  width: 100%;
  padding-bottom: 60px;
  .iconPhone {
    width: calc(100% / 3);
    border-right: 1px solid $whiteTwo;
    i {
      font-size: 1.4rem;
    }
    h6 {
      color: $black;
      margin: 15px 0;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
  .iconMap {
    width: calc(100% / 3);
    margin: 0 20px;
    padding:0 10px;
    i {
      font-size: 1.4rem;
    }
    h6 {
      color: $black;
      margin: 15px 0;
    }
    address {
      p {
        font-style: normal;
        font-size: 0.7rem;
      }
    }
  }
  .iconEnv {
    width: calc(100% / 3);
    margin-left: 20px;
    padding-left: 40px;
    border-left: 1px solid $whiteTwo;
    i {
      font-size: 1.4rem;
    }
    h6 {
      color: $black;
      margin: 15px 0;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
}


// get in touch form

.touchForm {
  margin-bottom: 60px;
  h5 {
    font-weight: 700;
    padding-bottom: 20px;
    // border-bottom: 1px solid $whiteTwo;
  }
  p {
    color: lighten($color: $black, $amount: 10%);
  }
  .userForm {
    border: none;
    fieldset {
      @include flex(flex-start, center);
      flex-direction: row;
      border: none;
      padding: 0;
      margin: 0;
      input {
        font-size: 0.7rem;
        width: 100%;
        text-align: left;
        margin: 0 12px;
        border: none;
        border-bottom: 1px solid $whiteTwo;
        padding: 40px 0 10px;
      }
    }

    .userComment {
      width: 100%;
      height: 250px;
      resize: none;
      border: none;
      padding: 0;
      margin: 0;
      font-size: 0.7rem;
      width: 100%;
      text-align: left;
      border-bottom: 1px solid $whiteTwo;
      padding: 40px 0 10px;
    }

    .comBut {
      font-family: $baseFont;
      font-weight: 400;
      font-size: 0.7rem;
      padding: 5px 0;
      margin: 50px 0;
      border: 1px solid transparent;
      border-bottom: 1px solid $black;
      background-color: transparent;
      position: relative;
    }
  }
}

// HOVER ON EMAIL

// contact image

.contactImg {
  width: 100vw;
  // img {
  //   width: 100vw;
  //   object-fit: cover;
  // }
}

// IMAGE IN CONTAINER